@{
    ViewBag.Title = @Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.ForgotPasswordConfirmation1);
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.ForgotPasswordConfirmation2)
    </p>
</div>
	
