@{
    ViewBag.Title = @Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.ResetPasswordConfirmation1);
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.ResetPasswordConfirmation2) @Html.ActionLink(MenuOnWebFinal.Resources.EnglishTexts.ResetPasswordConfirmation3, "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
