
@{
    ViewBag.Title = @Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.DeleteUser1);
}

<div class="form-page">
    <div class="form-page--content">
        <div class="form-page--header">
            <span>@Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.DeleteUser2)</span>
        </div>
        <div class="form-page--container">
            @using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post, new { @class = "form-page--form" }))
            {
                <label>Select Role</label>
                @Html.DropDownList("Users", (IEnumerable<SelectListItem>)ViewBag.Users, "Select...")
                <button class="button -dark-blue -darker-hover" type="submit">@Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.DeleteUser3)</button>
            }
        </div>
    </div>
</div>