@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.Error1);
}

<h1 class="text-danger">@Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.Error2)</h1>
<h2 class="text-danger">@Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.Error3)</h2>

