@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.Lockout1);
}

<hgroup>
    <h1 class="text-danger">@Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.Lockout2)</h1>
    <h2 class="text-danger">@Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.Lockout3)</h2>
</hgroup>
